In [1]:
import pandas as pd

file_path = 'Data/MovieSummaries/plot_summaries.txt'
output_file_path = 'filtered_plot_summaries.tsv'
data = []

with open(file_path, 'r', encoding='utf-8') as file:
    for line in file:
        try:
            movie_id, summary = line.split('\t', 1)  
            summary = summary.strip()  
            
            if len(summary) >= 1000:
                last_400_characters = summary[-400:].strip()
                data.append({'Movie_ID': movie_id, 'Summary': last_400_characters})
                
        except ValueError:
            print(f"Ligne ignorée (mauvais format) : {line}")

df = pd.DataFrame(data)
df.to_csv(output_file_path, sep='\t', index=False)

print(f"TSV File created with sucess : {output_file_path}")

TSV File created with sucess : filtered_plot_summaries.tsv

In [2]:
import pandas as pd
from textblob import TextBlob

metadata_path = 'Data/MovieSummaries/movie.metadata.tsv'
movie_data = pd.read_csv(metadata_path, sep='\t', header=None, dtype={0: str})  # Charger l'ID comme chaîne
movie_data.columns = ['Movie_ID', 'Other_Column', 'Title', 'Release_Date', 'Revenue', 'Runtime', 'Languages', 'Country', 'Genres']
summaries_path = 'filtered_plot_summaries.tsv'
summaries_data = pd.read_csv(summaries_path, sep='\t', dtype={'Movie_ID': str})

def analyze_sentiment(summary):
    analysis = TextBlob(summary)
    polarity = analysis.sentiment.polarity
    return polarity

merged_data = pd.merge(movie_data, summaries_data, on='Movie_ID', how='inner')


merged_data['Score'] = merged_data['Summary'].apply(analyze_sentiment)

output_file_path = 'movies_dataset_final.tsv'
merged_data.to_csv(output_file_path, sep='\t', index=False)

In [4]:
import requests
from tqdm import tqdm
import os
import pickle
from concurrent.futures import ThreadPoolExecutor, as_completed
import pandas as pd

# API Key and Base URL setup
API_KEY = '9923aaa2a3b2777bfdeba7f76c97d212'
BASE_SEARCH_URL = 'https://api.themoviedb.org/3/search/movie'
BASE_MOVIE_URL = 'https://api.themoviedb.org/3/movie'

# Load the existing movie dataset
file_path = 'movies_dataset_final.tsv'
movies_df = pd.read_csv(file_path, sep='\t')

# Define function to fetch movie data from TMDB API
def get_movie_data_from_tmdb(wikipedia_id, title):
    params = {
        'api_key': API_KEY,
        'query': title,
        'language': 'en-US'
    }
    response = requests.get(BASE_SEARCH_URL, params=params)
    if response.status_code == 200:
        data = response.json()
        if data['results']:
            movie_data = data['results'][0]
            overview = movie_data.get('overview', '')
            tmdb_id = movie_data.get('id', None)
            return wikipedia_id, {"overview": overview, "tmdb_id": tmdb_id}
    return wikipedia_id, {}

# Define functions to get specific movie details and credits
def get_movie_details(wikipedia_id, tmdb_id):
    response = requests.get(f"{BASE_MOVIE_URL}/{tmdb_id}", params={'api_key': API_KEY, 'language': 'en-US'})
    return (wikipedia_id, "details", response.json()) if response.status_code == 200 else (wikipedia_id, "details", {})

def get_movie_credits(wikipedia_id, tmdb_id):
    response = requests.get(f"{BASE_MOVIE_URL}/{tmdb_id}/credits", params={'api_key': API_KEY})
    return (wikipedia_id, "credits", response.json()) if response.status_code == 200 else (wikipedia_id, "credits", {})

# Load existing TMDB data if available
DATA_FOLDER = '.'
if os.path.exists(f'{DATA_FOLDER}/movie_data_from_tmdb.pkl'):
    with open(f'{DATA_FOLDER}/movie_data_from_tmdb.pkl', 'rb') as file:
        movie_data_from_tmdb = pickle.load(file)
else:
    movie_data_from_tmdb = {}

# Fetch missing TMDB data
movies_to_process = [
    (wiki_id, title) for wiki_id, title in zip(movies_df['Other_Column'], movies_df['Title'])
    if wiki_id not in movie_data_from_tmdb
]
with ThreadPoolExecutor(max_workers=10) as executor:
    futures = {executor.submit(get_movie_data_from_tmdb, movie_id, title): movie_id for movie_id, title in movies_to_process}
    for future in tqdm(as_completed(futures), total=len(futures), desc="Fetching TMDB IDs"):
        wikipedia_id, movie_info = future.result()
        if movie_info:
            movie_data_from_tmdb[wikipedia_id] = movie_info

Fetching TMDB IDs: 100%|██████████| 22129/22129 [11:57<00:00, 30.85it/s]

In [9]:
# Save basic data to avoid re-fetching
with open(f'{DATA_FOLDER}/movie_data_from_tmdb_only_id.pkl', 'wb') as file:
    pickle.dump(movie_data_from_tmdb, file)

# Fetch additional details and credits
movies_to_process = [(wiki_id, info['tmdb_id']) for wiki_id, info in movie_data_from_tmdb.items() if info.get('tmdb_id') and 'details' not in info]
with ThreadPoolExecutor(max_workers=10) as executor:
    futures = []
    for wiki_id, tmdb_id in movies_to_process:
        futures.append(executor.submit(get_movie_details, wiki_id, tmdb_id))
        futures.append(executor.submit(get_movie_credits, wiki_id, tmdb_id))
    
    for future in tqdm(as_completed(futures), total=len(futures), desc="Fetching Details and Credits"):
        wikipedia_id, data_type, data = future.result()
        if wikipedia_id in movie_data_from_tmdb:
            movie_data_from_tmdb[wikipedia_id][data_type] = data

# Save the enriched TMDB data
with open(f'{DATA_FOLDER}/movie_data_from_tmdb.pkl', 'wb') as file:
    pickle.dump(movie_data_from_tmdb, file)

# Define helper functions for new data fields
def find_director(movie_data):
    crew = movie_data.get('credits', {}).get('crew', [])
    for person in crew:
        if person.get('job') == 'Director':
            return person.get('name', pd.NA)
    return pd.NA


def find_vote_average(movie_data):
    return movie_data.get('details', {}).get('vote_average', pd.NA)

def find_revenue(movie_data):
    return movie_data.get('details', {}).get('revenue', pd.NA)

def find_collection(movie_data):
    try:
        return movie_data.get('details', {}).get('belongs_to_collection', {}).get('id', pd.NA)
    except Exception:
        return pd.NA
    
def find_budget(movie_data):
    return movie_data.get('details', {}).get('budget', pd.NA)

def find_productions(movie_data):
    return movie_data.get('details', {}).get('production_companies', pd.NA)

# Map new data to the movies_df dataset
movies_df['director'] = movies_df['Other_Column'].map(lambda x: find_director(movie_data_from_tmdb.get(x, {})))
movies_df['vote_average'] = movies_df['Other_Column'].map(lambda x: find_vote_average(movie_data_from_tmdb.get(x, {})))
movies_df['revenue'] = movies_df['Other_Column'].map(lambda x: find_revenue(movie_data_from_tmdb.get(x, {})))
movies_df = movies_df.drop(columns=['Revenue', 'Movie_ID_y'], errors='ignore')
movies_df['collection'] = movies_df['Other_Column'].map(lambda x: find_collection(movie_data_from_tmdb.get(x, {})))
movies_df['budget'] = movies_df['Other_Column'].map(lambda x: find_budget(movie_data_from_tmdb.get(x, {})))
movies_df['productions'] = movies_df['Other_Column'].map(lambda x: find_productions(movie_data_from_tmdb.get(x, {})))

# Save the updated dataset back to the original file
movies_df.to_csv(file_path, sep='\t', index=False)
print(f"Updated dataset saved back to '{file_path}' with new columns: director, vote_average, and revenue")

Fetching Details and Credits: 100%|██████████| 22950/22950 [21:19<00:00, 17.94it/s]

Updated dataset saved back to 'movies_dataset_final.tsv' with new columns: director, vote_average, and revenue

In [10]:
movies_df.head()

,Movie_ID,Other_Column,Title,Release_Date,Runtime,Languages,Country,Genres,Summary,Score,director,vote_average,revenue,collection,budget,productions
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...","cre on him, he handcuffs Ballard to her cot an...",0.000000,John Carpenter,5.1,14010832,<NA>,28000000,"[{'id': 51312, 'logo_path': None, 'name': 'Ani..."
1,9363483,/m/0285_cd,White Of The Eye,1987,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic...",sive vest. Mike opens fire on him with a machi...,-0.120000,Donald Cammell,5.8,0,<NA>,0,"[{'id': 26932, 'logo_path': None, 'name': 'Mrs..."
2,261236,/m/01mrr1,A Woman in Flames,1983,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}","k out on him, and he gets angry, throws her ag...",0.060000,Robert van Ackeren,5.4,0,<NA>,0,"[{'id': 1766, 'logo_path': None, 'name': 'Diet..."
3,6631279,/m/0gffwj,Little city,1997-04-04,93.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/0hj3n0w"": ...",a soon tires of Anne and breaks off their affa...,0.144444,Hervé Palud,5.972,0,<NA>,0,"[{'id': 311, 'logo_path': '/TNGvZ8zOklntjPP3Ec..."
4,11250635,/m/02r52hc,The Mechanical Monsters,NaN,NaN,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06n90"": ""Science Fiction"", ""/m/03k9fj"": ""...",e scientist and flies from the lair to take hi...,0.340000,Dave Fleischer,7.0,0,<NA>,0,"[{'id': 8302, 'logo_path': None, 'name': 'Flei..."

In [13]:
def get_run_time(wikipedia_id):
    if wikipedia_id not in movie_data_from_tmdb:
        return pd.NA
    data = movie_data_from_tmdb[wikipedia_id]
    if 'details' not in data:
        return pd.NA
    data = data['details']
    if 'runtime' not in data:
        return pd.NA
    return data['runtime']

# Apply the function to fill the missing values 
movies_df['Runtime'] = movies_df.apply(
    lambda row: row['Runtime'] if pd.notnull(row['Runtime']) else get_run_time(row['Movie_ID']),
    axis=1
)

In [14]:
import pandas as pd

# Load the dataset
movies_df = pd.read_csv('movies_dataset_final.tsv', sep='\t')

# Helper function to clean up and extract country names
def extract_countries(country_data):
    if pd.isna(country_data) or '{' not in country_data:
        return None
    countries = []
    items = country_data.split(", ")
    for item in items:
        if ':' in item:
            # Clean up each country name
            country_name = item.split(":")[-1].strip().replace("\"", "").replace("}", "").replace("{", "")
            countries.append(country_name)
    # Join all countries with a comma and space
    return ", ".join(countries) if countries else None

# Apply the function to clean and reformat the 'Country' column
movies_df['Country'] = movies_df['Country'].apply(extract_countries)

# Drop rows with missing or invalid country data in 'Country'
movies_df = movies_df.dropna(subset=['Country']).copy()

# Save the updated dataset with the cleaned 'Country' column back to the original file
movies_df.to_csv('movies_dataset_final.tsv', sep='\t', index=False)
print("Dataset updated with cleaned 'Country' column and saved as 'movies_dataset_final.tsv'")

Dataset updated with cleaned 'Country' column and saved as 'movies_dataset_final.tsv'

In [15]:
import pandas as pd

# Load the dataset
movies_df = pd.read_csv('movies_dataset_final.tsv', sep='\t')

# Helper function to clean up and extract language names
def extract_languages(language_data):
    if pd.isna(language_data) or '{' not in language_data:
        return None
    languages = []
    items = language_data.split(", ")
    for item in items:
        if ':' in item:
            # Clean each language name and remove "Language"/"language"
            language_name = item.split(":")[-1].strip().replace("\"", "").replace("}", "").replace("Language", "").replace("language", "").strip()
            if len(language_name) <= 40:  # Filter out languages longer than 40 characters
                languages.append(language_name)
    # Join all languages with a comma and space
    return ", ".join(languages) if languages else None

# Apply the function to clean and reformat the 'Languages' column
movies_df['Languages'] = movies_df['Languages'].apply(extract_languages)

# Drop rows with missing or invalid language data in 'Languages'
movies_df = movies_df.dropna(subset=['Languages']).copy()

# Save the updated dataset with the cleaned 'Languages' column back to the original file
movies_df.to_csv('movies_dataset_final.tsv', sep='\t', index=False)
print("Dataset updated with cleaned 'Languages' column and saved as 'movies_dataset_finals.tsv'")

Dataset updated with cleaned 'Languages' column and saved as 'movies_dataset_finals.tsv'

In [43]:
import pandas as pd


# Load the dataset
movies_df = pd.read_csv('movies_dataset_final.tsv', sep='\t')

# Helper function to clean up and extract genre names
def extract_genres(genre_data):
    if pd.isna(genre_data) or '{' not in genre_data:
        return None
    genres = []
    items = genre_data.split(", ")
    for item in items:
        if ':' in item:
            # Clean the genre name and remove unwanted words
            genre_name = item.split(":")[-1].strip().replace('"', '').replace('}', '')
            # Remove words like "Movie", "Movies", "Film", etc.
            genre_name = re.sub(r'\b(Movie|Movies|Film|Films|movie|movies|film|films)\b', '', genre_name).strip()
            genres.append(genre_name)
    # Join all genres with a comma and space
    return ", ".join(genres) if genres else None

# Apply the function to clean and reformat the 'Genres' column
movies_df['Genres'] = movies_df['Genres'].apply(extract_genres)

# Drop rows with missing or invalid genre data in 'Genres'
movies_df = movies_df.dropna(subset=['Genres']).copy()

# Save the updated dataset with the cleaned 'Genres' column back to the original file
movies_df.to_csv('movies_dataset_final.tsv', sep='\t', index=False)
print("Dataset updated with cleaned 'Genres' column and saved as 'movies_dataset_final.tsv'")

Dataset updated with cleaned 'Genres' column and saved as 'movies_dataset_final.tsv'

In [16]:
import pandas as pd
import re

# Load the dataset
movies_df = pd.read_csv('movies_dataset_final.tsv', sep='\t')

# Define a function to extract the 4-digit year from various date formats
def extract_year(date_str):
    # Ensure the date is a string
    date_str = str(date_str)
    
    # Use regex to find a 4-digit year pattern
    match = re.search(r'\b(\d{4})\b', date_str)
    
    if match:
        return match.group(1)  # Return the matched 4-digit year as a string
    else:
        return None  # Return None if no 4-digit year is found

# Apply the function to the 'Release_Date' column to extract only the year
movies_df['Release_Date'] = movies_df['Release_Date'].apply(extract_year)

# Drop rows with no valid year
movies_df = movies_df.dropna(subset=['Release_Date'])

# Convert 'Release_Date' to an integer type for further analysis
movies_df['Release_Date'] = movies_df['Release_Date'].astype(int)

# Save the cleaned dataset back to the original file
movies_df.to_csv('movies_dataset_final_2.tsv', sep='\t', index=False)
print("Dataset updated with cleaned 'Release_Date' years in 'movies_dataset_final.tsv'")

Dataset updated with cleaned 'Release_Date' years in 'movies_dataset_final.tsv'